body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-family:arial;
}
h1{
    margin:0;
}

a {
    color:#0078ff;
}
#canvas{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position:absolute;
    background-color: #070412;   
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.canvas-wrap{
    position:relative;
}
